* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------------- Body style Element --------------*/
body {
    font-family: Helvetica, Arial, sans-serif;
    color: #79a2a9;
}

/*-------------------- Body style Element Ends --------------*/

/*-------------------- Header style Element --------------*/
header {
    padding: 20px 35px;
    background-color: #79a2a9;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #0d2716;
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color:#0d2716; 
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}
/*-------------------- Header style Element Ends --------------*/
/*-------------------- Hero style Element --------------*/
.hero {
    background-image: url("../images/hero-bg.png");
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-form {
    background-color: #79a2a9;
    padding: 20px;
    width: 500px;
    color:#0d2716;
    position: absolute;
    border-style: solid;
    border-width: 3px;
    border-color: #0d2716;
    bottom: 120px;
    right: 140px;
}

.hero-form h3 {
    font-size: 24px;
    margin: 0;
}

.hero-form p {
    margin: 5px 0 15px 0;
}

.form-input {
    border: 1px solid #0d2716;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #0d2716;
    width: 100%;
    margin-bottom: 15px;
}

.hero-form label {
    margin: 0 5px;
}

.hero-form button {
    color: #0d2716;
    background-color:#1f48a0;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}
/*-------------------- Hero style Element Ends --------------*/


/*-------------------- footer style Element --------------*/
footer {
    background: #79a2a9;
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    display: inline;
    color: #0d2716;
    font-size: 30px;
    margin: 0;
}

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: #0d2716;
}
/*--------------------Footer style Element Ends --------------*/

section {
    padding: 60px;
}